@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(186, 206, 224, 0.616);
    font-family: 'Fredoka', sans-serif;
}
#landing-page {
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-image: url(images/bg.jpg);
}
.title {
    position: absolute;
    color: rgb(255, 255, 255);
    margin: 0;
    width: 100%;
    top: 45%;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #003a55;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: sticky;
    top: 0;
    padding: 20px;
}

ul {
    list-style: none;
}

li, a{
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}
a:hover {
    color: white;
}
header img {
    width: 20px;
    padding-left: 20px;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.section-introduction {
    text-align: center;
    margin-top: 50px;
}
.section-introduction img {
   width: 100px;
   border-radius: 50%;
}

.section-introduction p {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}
#project {
    background-color: #f7f9fcd2;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading {
    padding: 50px;
}
#myImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.images a > img {
    width: 200px;
    height: 100px;
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.images a > img:hover{
    cursor: context-menu;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

span{
    color: #000000;
    display: block;
}
span:hover{
    color: #00293b;
}

#more{
    display: none;
}
#myBtn{
   width: 150px; 
   border-radius: 10px;
   padding: 10px 20px;
   margin-top: 50px;
   border: none;
   font-family: 'Fredoka', sans-serif;
   font-weight: 500;
   color: aliceblue;
   background-color: #00293b;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#myBtn:hover{
    cursor: pointer;
    
}
